/*--------------------
 goggole font use
 ---------------- */
body{
    font-family: 'Poppins', sans-serif;
}
/* ---------------
first-header er kaj
---------------- */

h3{
    margin-left: 60px;
    margin-top: 60px;
}
nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 40px;
    
}
.first-header{
    margin-top: 60px;

}
.container{
    display: flex;
    margin-bottom: 40px;
}
.first-part{
    width: 600px;
    margin-left: 60px;
    text-align: justify;
}
a{
    
    text-decoration: none;
    padding: 5px;
    background-color: rgb(119, 36, 119) ;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.first-part-pro{

    margin-left: 60px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.picture{
    margin-top:;
    margin-left: 60px;
    text-align: center;
}
hr{
    border:3px solid grey;
}
/*-----------------
2nd header er kaj shuru
------------------------ */

#center{
    text-align: center;
}
.second-header{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.second-part{
    grid-row-gap: 30px;
   
  
}
.last{
    justify-content: flex-end;
}
/* 3rd partt */
.third-header{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.third-part{
    display: flex;

}
.third-part-likha{
    width: 700px;
}
.third-part-image img{
    width: 500px;

}
.finished{
    text-align: center;
    margin-top: 30px;
    background-color: rgb(46, 27, 63);
    padding: 20px;
}