/*--------------------
 goggole font use
 ---------------- */
body{
    font-family: 'Poppins', sans-serif;
}
/* ---------------
first-header er kaj
---------------- */
.inline-nav{
    display: flex;
}
.left-part span{
    display: flex;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

h2{
    margin-left: 60px;
    margin-top: 60px;
}
nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 40px;
    
}
.first-header{
    margin-top: 60px;

}
.container{
    display: flex;
    margin-bottom: 80px;
}
.first-part{
    width: 600px;
    margin-left: 60px;
    text-align: justify;
}
.jhamela{
    
    text-decoration: none;
    padding: 5px;
    background-color: rgb(119, 36, 119) ;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.first-part-pro{

    transform: scale(1);
    transition: transform 2s ease-in-out;
    margin-left: 60px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.picture{
    
    margin-left: 60px;
    text-align: center;
}
hr{
    border:3px solid grey;
}
/*-----------------
2nd header er kaj shuru
------------------------ */
.second-header{
    margin: 80px;
}

#center{
    text-align: center;
}
.solve{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    
}
.second-part{
    grid-row-gap: 30px;
    padding: 15px;
    text-align: justify;
   
   
  
}
.lite{
    border: 2px solid gray;
    background-color: honeydew;
    margin: 10px;
    border: 10px;
}

.last{
    justify-content: flex-end;
 
}
/* 3rd partt */
.third-header{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.third-part{
    display: flex;

}
.third-part-likha{
    width: 700px;
}
.third-part-image img{
    width: 500px;

}
.finished{
    text-align: center;
    margin-top: 30px;
    background-color: rgb(46, 27, 63);
    padding: 20px;
}
.jahid{
    color: rgb(102, 63, 102);
    padding: 5px;
    border-radius: 5px;
    margin-left: 1000px;
    
}
.flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 250px;
  }
  
  .flex-gap > div {
    margin-right: 30px;
    margin-top: 10px;
  }
  /* media queries */
  /* mobile devices */
  @media only screen and (max-width:688px) {
      .solve, .container, .third-part{
          grid-template-columns: repeat(1, 1fr);
      }

      
  }
  @media only screen and (min-width:688px) and (max-width:992px) {
    .solve, .container, .third-part{
        grid-template-columns: repeat(2, 1fr);
    }

      
  }


  